# ---------- Shared ----------
NODE_ENV=development

# ---------- Domains ----------
PUBLIC_WEB_HOST=exa.com
PUBLIC_CONTENT_HOST=adsexample.com
PUBLIC_ADMIN_HOST=admin.example.com
PUBLIC_API_HOST=api.example.com

# ---------- API ----------
API_PORT=8000
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/shortener
REDIS_URL=redis://localhost:6379/0
JWT_SECRET=change_me_super_secret
JWT_EXPIRE_MINUTES=10080

# ---------- Default Admin ----------
DEFAULT_ADMIN_EMAIL=admin@changeme.com
DEFAULT_ADMIN_PASSWORD=changeme
